.servicios {
    width: 60%;
    margin: 2em auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.servicios table {
    text-align: center;
    border: 5px dashed black;
    caption-side: bottom;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    margin: 5px;
}

table tr:nth-child(odd) {
    background-color: rgba(81, 148, 132, 0.788);
}

table tr:nth-child(even) {
    background-color: rgba(147, 192, 182, 0.781);
}

table tr:first-child {
    background-color: #4bb998;
}

.servicios img {
    margin: 2% 14%;
}